<div>
  <label>Name</label>
  <input class="form-control" type="text" name="name" value="<%= student.name %>" placeholder="Student's Name">
</div>
<div>
  <label>Email</label>
  <input class="form-control" type="email" name="email" value="<%= student.email %>" placeholder="name@example.com">
</div>
<div>
  <label>Phone Number:</label>
  <input class="form-control" type="text" name="phone" value="<%= student.phone %>" placeholder="Student's Phone Number">
</div>

<div class="form-group">
  <label for="exampleFormControlFile1">Photo</label>
  <input type="file" class="form-control-file" id="exampleFormControlFile1">
</div>
<div>
  <label>Degree</label>
  <input class="form-control" name="degree" value="<%= student.degree %>"></input>
</div>